[submodule "3rdparty/libmodplug"]
	path = 3rdparty/libmodplug
	url = https://github.com/Konstanty/libmodplug.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
